* {
  margin: 0;
  padding: 0;
}

html, body{
  height:100%;
  background-color: black;
  overflow: none;
}

/*scroll*/

::-webkit-scrollbar {
    width: 0.45vw;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: #393939; 
}
/*ids*/

#cover {
  height: 100vh;
  width: 100%;
  color: white; /* talvez um banner com robozinho, algo que lembre tech, com uma pitada de humor de preferencia*/
  /*
  background-image: url("../img/photo.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  */
}

#midline{
  height: 84vh;
  width: 10px;
  position: relative;
  left: 50%;
  border-left: 1px solid white;
  margin-top: 1px;
}

#navbar {
  height: 16%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

#navbar ul {
  list-style-type: none;
  text-align: center;
  top: 25%;
  position: relative;
  height: 8vh;
  width: 100%;
  font-size: 0px;
}

#navbar li {
  display: inline-block;
  font-size: 0px;
  position: relative;
  top: 33.3%;
  margin:0 1.5vh;
  text-align: center;
  transition: top 0.7s;
}

#navbar li a {
  font-family: 'Oswald', sans-serif;
  font-size: 2.66vh;
  line-height: 100%;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding-bottom: 2.66vh;
  text-transform: uppercase;
}

#navbar li a.nav1:hover {
  border-bottom: 2px solid red;
}

#navbar li a.nav2:hover {
  border-bottom: 2px solid yellow;
}

#navbar li a.nav3:hover {
  border-bottom: 2px solid green;
}

#navbar li a.nav4:hover {
  border-bottom: 2px solid blue;
}

#section1 {
  height: 100vh;
  background: black;
  color: white;
}

#section2 {
  height: 100vh;
  width: 100%;
  background: white; //#262626
  color: white;
  overflow-x: hidden;
}

#welcome {
  position: relative;
  top: 30%;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  width: 49vw;
  float: left;
  margin-right: 2vw;
  display: none;
}

#welcome h1 {
  font-size: 11vw;
  text-transform: uppercase;
  line-height: 100%;
}

#welcome h2 {
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 100%;
}

#welcome-text {
  float: left;
  position: relative;
  top: 30%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  width: 25vw;
  display: none;
}

#welcome-text h3 {
  font-size: 2.5vw;
  line-height: 100%;
  width: 18vw;
}

#welcome-text p {
  margin-top: 1vw;
  font-size: 1.5vw;
  width: 27vw;
  font-family: 'Old Standard TT', serif;
}


/*classes*/

.hidden {
  display: none;
}

/*tentar fazer um usando 2 formando um V */
.loadbar {
  position: absolute;
  top: 50%;
  left: 33%;
  width: 33%;
  height: 1px;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0);
  animation: animate 1s linear 0s infinite alternate;
}

.loading {
    overflow: hidden;
}

.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	z-index: 100;
}

@media (min-width: 1000px) {
  /*
  .section2-image1 {
    transition: transform 0.7s;
  }

  .section2-image1:hover {
    transform: translate(33%, 30%) scale(1.66);
  }

  .section2-image1:hover ~ .section2-image2 {
    transform: translate(233%, 0);
  }

  .section2-image1:hover ~ .section2-image3 {
    transform: translate(233%, 0);
  }

  .section2-image2 {
    transition: transform 0.7s;
  }

  .section2-image2:hover {
    transform: scale(1.66);
  }

  .section2-image2:hover > .section2-image1 {
    transform: scale(0);
  }

  .section2-image2:hover ~ .section2-image3 {
    transform: translate(233%, 0);
  }

  .section2-image3 {
    transition: transform 0.7s;
  }

  .section2-image3:hover {
    transform: translate(-33%, -27%) scale(1.66);
  }
*/

  .section2-img-father {
    width: 35%;
    height: 35%;
    display: inline-block;
    position: relative;
    left: 20.95%;
    top: 30%;
  }

  .section2-image1 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 6;
  }

  .section2-image2 {
    position: absolute;
    width: 100%;
    left: 33%;
    top: 30%;
    z-index: 7;
  }

  .section2-image3 {
    position: absolute;
    width: 100%;
    left: 66%;
    top: 60%;
    z-index: 8;
  }
}

@keyframes animate {
  0% {
  	background-color: red;
  	transform-origin: left;
  	transform: translateX(0) scaleX(0);
  	left: 33%
  	right: auto;
  }
  25% {
  	background-color: yellow;
  	left: 33%;
  	right: auto;
  }

  49% {
  	transform-origin: left;
  	transform: translateX(0) scaleX(1);
  	left: 33%;
  	right: auto;
  }

  50% {
  	background-color: green;
  	left: 33%;
  	right: 33%;
  }

  51% {
  	transform-origin: right;
  	transform: translateX(0) scaleX(1);
  	left: auto;
  	right: 33%;
  }

  75% {
  	background-color: blue;
  	left: auto;
  	right: 33%;
  }

  100% {
  	background-color: red;
  	transform-origin: right;
  	transform: translateX(0) scaleX(0);
  	left: auto;
  	right: 33%;
  }
}
/*
div.mid {
	width: 100%;
	height: 100%;
	background-color: black;
	transition: background-color 1s;
}


div.mid:hover {
	background-color: #ffffff;
}
*/